*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: white;
    text-color: #5d5d5d;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*---------------------*/
/*CONTENU REUTILISABLE*/
/*---------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
    
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}
/*---------------------*/
/*TITRES*/
/*---------------------*/

h1,
h2,
h3{
    text-transform: uppercase;
    font-weight: 200px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 30px auto 0;
}

h3{
    font-size: 120%;
    margin-bottom: 15px;
}
/*---------------------*/
/*PARAGRAPHES*/
/*---------------------*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p{
    line-height: 145%;
    font-size: 90%;
}

.box2 {
    margin-top: 42px;
    
    
}

/*---------------------*/
/*BOUTONS*/
/*---------------------*/

.icon-big{
    display: block;
    font-size: 350%;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /* secrets to align text and icons*/
    
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}
/*---------------------*/
/*LIENS*/
/*---------------------*/
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    border-bottom: 1px solid transparent;
    color: #555;
}

/*---------------------*/
/*BOUTONS*/
/*---------------------*/

.button:link,
.button:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.3s, border 0.2s color 0.3s;
    transition: background-color 0.3s, border 0.2s color 0.3s;
}
.button:hover ,
.button:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}

.button-full:link,
.button-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.button-ghost:link,
.button-ghost:visited {
     border: 1px solid #e67e22;
     color: #e67e22;
}
.button-full:hover,
.button-full:active,
input[type=submit]{
    border: 1px solid #cf6d17;
}

.button-ghost:hover,
.button-ghost:active {
     border: 1px solid #cf6d17;
     color: #fff;
}

.buttonapp img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.buttonapp:link,
.buttonapp:visited{
    border: 0;
}

/*---------------------*/
/*HEADER*/
/*---------------------*/
header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}
 /* NAVIGATION*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/* NAVIGATION MOBILE*/

.mobile-nav-icon{
    float: right;
    margin-top: 12px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: white;
}

/* NAVIGATION FIXE*/

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px rgba(244, 237, 237, 0.36);
    z-index: 9999;
}
.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 15px 0;
    color: #555;
}


.sticky .logo { display: none;}
.sticky .logo-black { display: block;}

/*---------------------*/
/*BOUTONS*/
/*---------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}

/* MEALS */
.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
    
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}
.meal-photos {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photos img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s opacity 0.5s;
    transition: -webkit-transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s, -webkit-transform 0.5s opacity 0.5s;
    opacity: 0.7;
}

.meal-photos img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

/*---------------------*/
/*BOUTONS*/
/*---------------------*/

.section-steps{
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-of-type {
    padding-right: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}
.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-right: 25px;
}
/*---------------------*/
/*VILLES*/
/*---------------------*/
.box img{
   width: 100%;
   height: auto;
   margin-bottom: 15px;
}


.city-feature {
    margin-bottom: 5px;
}

/*---------------------*/
/*AVIS CLIENTS*/
/*---------------------*/


.section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite{
    font-size: 90¨%;
    margin-top: 25px;
    display: block;
}
Blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*---------------------*/
/*PLANS D'ABONNEMENT*/
/*---------------------*/
.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #fff474;
    box-shadow: 0 2px 2px #fff474
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #ebe6e6;
}

.plan-box div:first-child{
    background-color: #fff9f9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}


.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;
}

/*---------------------*/
/*CONTACTEZ-NOUS*/
/*---------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

/*---------------------*/
/*CONTACTEZ-NOUS*/
/*---------------------*/

footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child{
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #777575;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #fff;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-social-twitter,
.ion-social-instagram,
.ion-social-facebook,
.ion-social-googleplus{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-twitter:hover{
    color: #1da1f2;
}
.ion-social-instagram:hover{
    color: #c32aa3;
}
.ion-social-facebook:hover{
    color: #1877f2;
}
.ion-social-googleplus:hover{
    color: #db4437;
} 

/*---------------------*/
/*BOUTONS*/
/*---------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-4 {
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated, 
.js--wp-3.animated {
    opacity: 1;
}